[submodule "vim/.vim/plugged/42header"]
	path = vim/.vim/plugged/42header
	url = https://github.com/42Paris/42header.git
[submodule "vim/.vim/plugged/jellybeans.vim"]
	path = vim/.vim/plugged/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/.vim/plugged/vim-airline"]
	path = vim/.vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/plugged/vim-airline-themes"]
	path = vim/.vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
